git+https://git@github.com/yjg30737/python-color-getter.git@main
git+https://git@github.com/yjg30737/pyqt-min-max-close-buttons-widget.git@main
git+https://git@github.com/yjg30737/pyqt-resource-helper.git@main