QPushButton
{{ 
	background: {base_color.name()};
	color: {btn_text_color.name()};
	padding-left: {h_padding_size};
	padding-right: {h_padding_size};
	padding-top: {v_padding_size};
	padding-bottom: {v_padding_size};
	border: 0; 
}}
QPushButton:hover
{{ 
	background-color: {hover_color.name()};
}}